.idea/
.sass-cache/
build/
vendor/
storage/*
!storage/cache/
storage/cache/*
!storage/cache/.gitkeep
!storage/logs/
storage/logs/*
!storage/logs/.gitkeep
!storage/session/
storage/session/*
!storage/session/.gitkeep
!storage/uploads/
storage/uploads/*
!storage/uploads/.gitkeep
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
composer.phar
phpstan.neon
phpunit.xml
