<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false"
         bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false"
         stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">config</directory>
            <file>App.php</file>
            <file>bin/console</file>
            <file>boot/helpers.php</file>
            <file>boot/routes.php</file>
            <file>public/index.php</file>
        </include>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuite name="Tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
    <logging/>
</phpunit>
