Options All -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect non-www to HTTPS www
    #RewriteCond %{HTTP_HOST} !^www\. [NC]
    #RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect to HTTPS
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

    # Send requests to front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
